
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title - SimpleBlog</title>
</head>
<body>
    <header>
        <h1><a href="@Url.RouteUrl("Home")">HomePage</a></h1>
        <a href="@Url.RouteUrl("Login")">LoginPage</a>
           </header>

    @RenderBody()
    <footer>
        &copy;@DateTime.Now.Year
    </footer>

    @*@RenderSection("Scripts",false)*@
</body>
</html>
