@model SimpleBlogHm.ViewModels.AuthLogin

@{
    ViewBag.Title = "LoginPage";

}

<h1>This is LoginPage</h1>

@*<form method="post">
    <input type="text" name="Username" />
    <input type="password" name="Password" />
    <input type="submit" value="Login" />
</form>*@


@using (Html.BeginForm())
{
    <div>
        @Html.LabelFor(x => x.Username)
        @Html.EditorFor(x => x.Username)
    </div>
    <div>
        @Html.LabelFor(x => x.Password)
        @Html.EditorFor(x => x.Password)
    </div>
    <div>
        <input type="submit" value="Login" />
    </div>
}