
@{
    Layout = null;
}

<!DOCTYPE html>

<html lang="tr">
<head>

    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
  
    <style>
        *{margin:0;
          padding:0;
          border:0;
        }
        .kutu {
            width: 1000px;
            height: auto;
            margin: 0 auto;
        }
        .kutu .header {
            background-color: #333333;
            width: 100%;
            height: 50px;
            float:left;
        }
        .kutu .header ul {
            list-style-type: none;

        }
        .kutu .header li {
            float: left;
        }
        .kutu .header li a {
            line-height:50px;
            color: white;
            padding: 16px;
            text-decoration: none;
        }
           .kutu .header li a:hover {
                background-color: #111111;
            }

            .kutu .icerik {
                margin-top: 5px;
                width: 100%;
                height: auto;
                float: left;
               
            }
            .kutu .icerik .sol {
                float: left;
                width: 300px;
                height: 300px;
                background-color: #808080;

            }
            .kutu .icerik .sol .hosgeldin {
                text-align:center;
                line-height:50px;
                float: left;
                width: 100%;
                height: 50px;
               border-bottom:1px dotted #ffffff;
 
            }
            .kutu .icerik .sag {
                text-align:center;
                line-height:100px;
                margin-bottom:5px;
                float: right;
                width: 695px;
                height: 100px;
                background-color: #ff6a00;
            }

            .kutu footer {
                text-align: center;
                line-height: 50px;
                color: white;
                background-color: #333333;
                width: 100%;
                float: left;
                height: 50px;
                margin-top: 5px;
            }

      
    </style>
</head>
<body>
    <div class="kutu"> 

        <div class="header">
            <nav>
                <ul>
                    <li><a href="#">Home</a></li>
                    <li><a href="/login">Login</a></li>
                    <li><a href="#">About</a></li>
                    <li></li>
                </ul>
            </nav>
           
           
        </div>
          <div class="icerik">
               <div class="sol">
                   <div class="hosgeldin">
                       @{
                           //   String username = Request.QueryString["username"]; get methodu için
                           String username = Request.Form["username"];
                           String pass = Request.Form["password"];
                           if (username != null && pass != null)
                           {
                               <p>Hoşgeldin @username.ToUpper()</p>

                           }
                       }
                   </div>
               </div>
               @{
                   FileStream fs=new FileStream(Server.MapPath("~/Images/ulkeBaskent.txt"),FileMode.Open);
                  StreamReader sr=new StreamReader(fs);

                  while (!sr.EndOfStream)
                  {
                       <div class="sag">
                              @sr.ReadLine().ToString()
                          </div>
                  }

                   sr.Close();
               }
           
          </div>

    

         <footer>
           Tuna Tarafından yapılmıştır.(Evet Tarafından)
         </footer>
          </div>
         

 
</body>
</html>
